# Alexandra Green

## Research question/interests

I am researching *which MLS playoff winning team has the worst goal differential* and *how their shots and shots on goal compare to the team with the best goal differential*.

In [130]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

### Player Data for Shots and Shots on Goal

In [131]:
pShots = pd.read_csv('../data/raw/all_players.csv')
pShots

,Player,Club,POS,GP,GS,MINS,G,A,SHTS,SOG,...,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year,Season
0,Roy Lassiter,TB,F,30,30,2580,27,4,76,49,...,2,0.14,20,39,70,2,0,64.47,1996,reg
1,Raul Diaz Arce,DC,F,28,28,2351,23,2,100,49,...,2,0.08,32,26,35,6,1,49.00,1996,reg
2,Eduardo Hurtado,LA,F,26,26,2323,21,7,87,56,...,3,0.27,48,26,25,5,0,64.37,1996,reg
3,Preki,KC,M,32,32,2880,18,13,140,61,...,4,0.41,26,44,7,3,0,43.57,1996,reg
4,Brian McBride,CLB,F,28,28,2307,17,3,79,44,...,1,0.12,21,46,10,0,0,55.70,1996,reg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15762,Alejandro Pozuelo,NaN,M,1,1,120,0,0,5,0,...,0,0.00,2,0,0,0,0,0.00,2020,post
15763,Franco Jara,NaN,F,2,2,210,0,0,5,1,...,0,0.00,6,2,3,0,0,20.00,2020,post
15764,Andy Polo,NaN,M,1,1,105,0,0,6,3,...,0,0.00,0,3,0,0,0,50.00,2020,post
15765,Cristian Roldan,NaN,M,4,4,360,0,0,6,1,...,0,0.00,5,11,0,0,0,16.67,2020,post
15766,Joevin Jones,NaN,D-M,4,4,260,0,0,8,1,...,0,0.00,1,7,0,0,0,12.50,2020,post

### Team Data for Goal Differential and Yearly Standings

In [132]:
gDifferential = pd.read_csv('../data/raw/all_tables.csv')
gDifferential

,Pos,Team,GP,W,L,SW,GF,GA,GD,Pts,Qualification,Conference,Year,SL,D,Head-to-head,PPG
0,1.0,Tampa Bay Mutiny,32,19,12,1.0,66,51,+15,58,Playoffs,Eastern Conference,1996,NaN,NaN,NaN,NaN
1,2.0,D.C. United,32,15,16,1.0,62,56,+6,46,Playoffs,Eastern Conference,1996,NaN,NaN,NaN,NaN
2,3.0,NY/NJ MetroStars,32,12,17,3.0,45,47,−2,39,Playoffs,Eastern Conference,1996,NaN,NaN,NaN,NaN
3,4.0,Columbus Crew,32,11,17,4.0,59,60,−1,37,Playoffs,Eastern Conference,1996,NaN,NaN,NaN,NaN
4,5.0,New England Revolution,32,9,17,6.0,43,56,−13,33,NaN,Eastern Conference,1996,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
783,23.0,Minnesota United FC,7,2,4,NaN,6,11,−5,7,NaN,Overall,2021,NaN,1.0,NaN,NaN
784,24.0,FC Dallas,7,1,3,NaN,8,11,−3,6,NaN,Overall,2021,NaN,3.0,NaN,NaN
785,25.0,Toronto FC,7,1,4,NaN,8,12,−4,5,NaN,Overall,2021,NaN,2.0,NaN,NaN
786,26.0,Chicago Fire FC,7,1,5,NaN,4,11,−7,4,NaN,Overall,2021,NaN,1.0,NaN,NaN
787,27.0,FC Cincinnati,6,1,4,NaN,6,15,−9,4,NaN,Overall,2021,NaN,1.0,NaN,NaN

# Exploratory Data Analysis
### Describe the Dataset
This dataset was found on Kaggle and was provided by Joseph Kohr. The dataset includes all statistics relevant to the games, year, and players, including goals against, goals for, each season's league champion, shots and shots on goal. This is just the data that I will be working with in my analysis, but the data also includes all important data about each team, player and season beginning in 1996 until now. Joseph Kohr scrapped data from the Major League Soccer website for player data and fbref, a statistics site dedicated to both women's and men's soccer competitions. Data was also taken from espn and wikipedia and his objective for scrapping the data was just for public interest. 
### Initial Thoughts
There is a lot of data in these datasets, most of the columns will not be of any use to me. I will have to drop those columns and I may have to drop years where they played less games than they do now. This way all the data I will be working with will all be consistent. I will be looking to gain insight on each team's shots and shots on goals for each season, which mean I will have to add each player's shots and shots on goal from a team's roster that season. In addition, having the goal differential data makes it a lot easier when looking at the first table.

### All_Tables Data

In [133]:
print(f"The columns and rows in this table: {gDifferential.shape}")
print(F"Names of the columns in this table: {gDifferential.columns}")
gDifferential.describe().apply(lambda s: s.apply(lambda x: format(x, 'f'))).T

The columns and rows in this table: (788, 17)
Names of the columns in this table: Index(['Pos', 'Team', 'GP', 'W', 'L', 'SW', 'GF', 'GA', 'GD', 'Pts',
       'Qualification', 'Conference', 'Year', 'SL', 'D', 'Head-to-head',
       'PPG'],
      dtype='object')

,count,mean,std,min,25%,50%,75%,max
Pos,744.000000,7.420699,5.407154,1.000000,3.000000,6.000000,10.000000,27.000000
GP,788.000000,30.050761,6.915167,6.000000,30.000000,32.000000,34.000000,34.000000
W,788.000000,11.402284,4.202540,1.000000,9.000000,12.000000,14.000000,24.000000
L,788.000000,11.572335,4.553909,0.000000,9.000000,12.000000,14.250000,25.000000
SW,64.000000,3.500000,1.825742,0.000000,2.000000,3.000000,5.000000,10.000000
GF,788.000000,42.843909,13.546747,4.000000,37.000000,44.000000,51.000000,85.000000
GA,788.000000,42.838832,13.578448,3.000000,37.000000,44.000000,51.000000,75.000000
Year,788.000000,2011.454315,7.159053,1996.000000,2006.000000,2013.000000,2018.000000,2021.000000
SL,24.000000,3.958333,1.706233,0.000000,3.000000,4.000000,5.000000,7.000000
D,724.000000,7.516575,3.243208,0.000000,6.000000,8.000000,9.000000,18.000000
PPG,52.000000,1.385000,0.369931,0.700000,1.000000,1.390000,1.700000,2.040000

In [134]:
gDifferential.nunique(axis=0)

Pos               27
Team             114
GP                13
W                 24
L                 25
SW                 9
GF                65
GA                66
GD                99
Pts               69
Qualification     86
Conference         7
Year              26
SL                 7
D                 18
Head-to-head       2
PPG               19
dtype: int64

In [135]:
gDifferential.describe(include='object').T

              count unique                   top freq
Team            788    114       Colorado Rapids   44
GD              788     99                    +4   38
Pts             788     69                    39   42
Qualification   292     86              Playoffs   32
Conference      788      7               Overall  371
Head-to-head      4      2  DAL: 7 ptsCOL: 4 pts    2

### All_players Data

In [136]:
print(f"The columns and rows of this table: {pShots.shape}")
print(f"The names of the columns in this table: {pShots.columns}")
pShots.describe().apply(lambda s: s.apply(lambda x: format(x, 'f')))

The columns and rows of this table: (15767, 28)
The names of the columns in this table: Index(['Player', 'Club', 'POS', 'GP', 'GS', 'MINS', 'G', 'A', 'SHTS', 'SOG',
       'GWG', 'PKG/A', 'HmG', 'RdG', 'G/90min', 'SC%', 'GWA', 'HmA', 'RdA',
       'A/90min', 'FC', 'FS', 'OFF', 'YC', 'RC', 'SOG%', 'Year', 'Season'],
      dtype='object')

,GP,GS,MINS,G,A,SHTS,SOG,GWG,HmG,RdG,...,HmA,RdA,A/90min,FC,FS,OFF,YC,RC,SOG%,Year
count,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,...,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,15767.000000,10697.000000,15767.000000
mean,10.793049,8.494641,765.211327,1.195408,1.220587,10.867508,4.313757,0.313947,0.707871,0.487537,...,0.728991,0.491596,0.107684,11.217987,10.521913,2.166424,1.431598,0.099638,inf,2010.213991
std,10.878347,9.924136,871.890880,2.688262,2.336127,18.092364,7.956445,0.845024,1.702995,1.217168,...,1.511027,1.088750,0.436118,13.892676,14.786274,5.472077,2.063006,0.333209,nan,7.209422
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1996.000000
25%,1.000000,0.000000,33.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,2005.000000
50%,6.000000,4.000000,338.000000,0.000000,0.000000,3.000000,1.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,5.000000,4.000000,0.000000,0.000000,0.000000,36.000000,2012.000000
75%,21.000000,16.000000,1414.500000,1.000000,1.000000,13.000000,5.000000,0.000000,1.000000,0.000000,...,1.000000,1.000000,0.140000,18.000000,15.000000,2.000000,2.000000,0.000000,50.000000,2016.000000
max,35.000000,34.000000,3060.000000,34.000000,26.000000,181.000000,76.000000,11.000000,22.000000,16.000000,...,16.000000,13.000000,30.000000,86.000000,112.000000,82.000000,14.000000,3.000000,inf,2020.000000

In [137]:
pShots.describe(include='object')

                Player   Club    POS  PKG/A Season
count            15767  10274  15767  15767  15767
unique            3304     51      7     29      2
top     Kyle Beckerman    COL      M    0/0    reg
freq                37    685   5984  14809  10274

In [138]:
pShots.nunique(axis=0)

Player     3304
Club         51
POS           7
GP           36
GS           35
MINS       2724
G            30
A            22
SHTS        135
SOG          70
GWG          12
PKG/A        29
HmG          22
RdG          15
G/90min     166
SC%         285
GWA           9
HmA          16
RdA          14
A/90min     165
FC           83
FS          100
OFF          58
YC           15
RC            4
SOG%        727
Year         25
Season        2
dtype: int64

# Analysis Pipeline
## Load Data

In [139]:
pShots = pd.read_csv('../data/raw/all_players.csv')
gDifferential = pd.read_csv('../data/raw/all_tables.csv')

## Clean Data

### All_tables

In [140]:
#Dropped columns with more than 40% null values, because it made the dataset very large.
threshold = len(gDifferential) *.40
season_games_min = 30
gDiff_cleaned = gDifferential.copy()
gDiff_cleaned = gDiff_cleaned.dropna(thresh=threshold, axis=1)
#Drop any null rows
gDiff_cleaned = gDiff_cleaned.dropna(axis=0)
#check for duplicates
if len(gDiff_cleaned[gDiff_cleaned.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(gDiff_cleaned[gDiff_cleaned.duplicated()]))
    print(gDiff_cleaned[gDiff_cleaned.duplicated(keep=False)].sort_values(by=list(gDiff_cleaned.columns)).head())
else:
    print("No duplicated entries found")

No duplicated entries found

### All_players

In [141]:
pShots_cleaned = pShots.copy()
#check for duplicates
if len(pShots_cleaned[pShots_cleaned.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(pShots_cleaned[pShots_cleaned.duplicated()]))
    print(pShots_cleaned[pShots_cleaned.duplicated(keep=False)].sort_values(by=list(pShots_cleaned.columns)).head())
else:
    print("No duplicated entries found")
pShots_cleaned.drop_duplicates(inplace=True)

No. of duplicated entries:  337
         Player Club POS  GP  GS  MINS  G  A  SHTS  SOG  ...  RdA A/90min  FC  \
32    A.J. Wood  MET   F  21  13  1136  5  2    34   22  ...    0    0.16  17
250   A.J. Wood  MET   F  21  13  1136  5  2    34   22  ...    0    0.16  17
9671  A.J. Wood  NaN   F   2   2    96  0  0     1    1  ...    0    0.00   1
9790  A.J. Wood  NaN   F   2   2    96  0  0     1    1  ...    0    0.00   1
153   Adam Frye  TB    D  15   9   725  0  1     6    4  ...    0    0.12  14

      FS  OFF  YC  RC    SOG%  Year  Season
32    25    4   0   0   64.71  1996     reg
250   25    4   0   0   64.71  1996     reg
9671   2    0   0   0  100.00  1996    post
9790   2    0   0   0  100.00  1996    post
153    6    3   3   1   66.67  1996     reg

[5 rows x 28 columns]

## Process Data

### All_tables

In [160]:
#Drop any seasons with less than 30 games
gDiff_cleaned = gDiff_cleaned[gDiff_cleaned['GP'] >= season_games_min]
#Drop any statistics for regular season conference play to gain insight on overall statistics
gDiff_cleaned = gDiff_cleaned[gDiff_cleaned['Conference'] == 'Overall']
#Sort values by overall ranking and highest goal differential
gDiff_cleaned.sort_values(by = ['Pos', 'GD'], ascending = [True, False])
gDiff_cleaned.Year.unique()

array([2000, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019], dtype=int64)

In [171]:
load_and_process_players(pShots)

                             SHTS  SOG Club
Player                 Year
 Christian Wilhelmsson 2012    11    2  LA
A.J. DeLaGarza         2009     4    2  MIA
                       2010     1    1  MIA
                       2011     3    1  MIA
                       2012     1    0  MIA
...                           ...  ...  ...
Álvaro Fernández       2010     4    3  SEA
                       2011    45   21  SEA
                       2012    31    8  CHI
                       2016     5    2  SEA
                       2017     5    4  SEA

[7698 rows x 3 columns]

### All_players

In [105]:
#making sure the years match with all_tables
years = [2000, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013,
       2014, 2015, 2016, 2017, 2018, 2019]
pShots_cleaned = pShots_cleaned[['Player', 'Club', 'G', 'SHTS', 'SOG', 'SOG%', 'Year']]
pShots_cleaned = pShots_cleaned[pShots_cleaned.Year.isin(years) == True]
pShots_cleaned.sort_values(by = ['Player','Year'], ascending = [True, True])

## Wrangle Data

### All_tables

In [ ]:
# I'm going to need to rename all the team names to then merge the two tables.

### All_players

In [119]:
df = pShots_cleaned.groupby(['Player','Year']).agg({'SHTS': 'sum', 'SOG': 'sum', 'Club': 'sum'})
df

# Method Chaining

# Analysis

In [120]:
corr = gDiff_cleaned.corr()
sns.heatmap(corr, xticklabels=corr.columns, yticklabels=corr.columns, annot=True, cmap=sns.diverging_palette(220,20,as_cmap=True))

In this heatmap, there is a highly positive correlation with goals for and wins, and similarly with goals against and losses.

In [121]:
gDiff_cleaned.plot(kind='scatter', x='GA', y='L')

In [122]:
sns.pairplot(gDiff_cleaned)

What's really interesting about this pairplot is the Goals Against and Pos graph. In the heatmap we see the GA has a positive correlation with losses but in the GA and Pos pairplot, there are teams very close to the 1 position and middle of the pack with very high goals against.

In [123]:
boxplot = pShots_cleaned.boxplot(grid=False, vert=False, fontsize=15)

In [124]:
corr2 = pShots_cleaned.corr()
sns.heatmap(corr2, xticklabels=corr2.columns, yticklabels=corr2.columns, annot=True, cmap="YlGnBu")